include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include blacktheme *.css
recursive-include blacktheme *.csv
recursive-include blacktheme *.html
recursive-include blacktheme *.ico
recursive-include blacktheme *.js
recursive-include blacktheme *.json
recursive-include blacktheme *.md
recursive-include blacktheme *.png
recursive-include blacktheme *.py
recursive-include blacktheme *.svg
recursive-include blacktheme *.txt
recursive-exclude blacktheme *.pyc
